//Colours
$gold:#ffc107;
$white:#fff;
$black:#000;

$darkGrey:#343a40;
$mediumGrey:#6c757d;
//$lightGrey:#6c757d;
$veryLightGrey:#f8f9fa;
$darkBlue:#2D314D;
$blue:#007bff;
$green:#28a745;
$red:#dc3545;